@model IEnumerable<E7PNN.Models.Activity>
@{
    ViewBag.Title = "YearsSummary";
}

<div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
        <div class="content-header-left col-md-4 col-12 mb-2">
            <h3 class="content-header-title">活動總表</h3>
        </div>
        <div class="content-header-right col-md-8 col-12">
            <div class="breadcrumbs-top float-md-right">
                <div class="breadcrumb-wrapper mr-1">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href='@Url.Action("Index", "Home")'>洞察報告</a>
                        </li>
                        <li class="breadcrumb-item active">
                            活動總表
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- 未審核活動 start -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">未審核活動</h4>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li>
                                <a data-action="collapse"><i class="ft-minus"></i></a>
                            </li>
                            <li>
                                <a data-action="reload"><i class="ft-rotate-cw"></i></a>
                            </li>
                            <li>
                                <a data-action="expand"><i class="ft-maximize"></i></a>
                            </li>
                            <li>
                                <a data-action="close"><i class="ft-x"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead class="thead">
                                <tr>
                                    <th scope="col">活動編號</th>
                                    <th scope="col">活動名稱</th>
                                    <th scope="col">主辦人</th>
                                    <th scope="col">地點</th>
                                    <th scope="col">活動日期</th>
                                    <th scope="col">狀態</th>
                                    <th scope="col">詳細資料</th>
                                </tr>
                            </thead>
                            <tbody>
                                @*@foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.ID)</td>
                                            <td>@Html.DisplayFor(modelItem => item.ActName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.ActUser)</td>
                                            <td>@Html.DisplayFor(modelItem => item.ActSite)</td>
                                            <td>@Html.DisplayFor(modelItem => item.ActTime)</td>
                                            <td style="color:red">@Html.DisplayFor(modelItem => item.ActStatus)</td>
                                            <td><button type="button" class="btn btn-link" data-toggle="modal" data-target="#Details"><i class="la la-file-text"></i></button></td>
                                        </tr>
                                    }*@
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>1111</td>
                                        <td>哈哈哈哈哈</td>
                                        <td>小名</td>
                                        <td>台北市</td>
                                        <td>2021.03.02</td>
                                        <td style="color:red">未審核</td>
                                        <td>
                                            <a href="@Url.Action("Nodetails", "Home", new { id = item.ID })"><i class='la la-file-text'></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="btn-group" role="group" aria-label="btn col-1" style="bottom:10px;">
                        <button type="button" class="btn btn-link"><span style="color:#0D2340;"><i class="la la-angle-double-left"></i></span></button>
                        <button type="button" class="btn btn-link"><span style="color:#0D2340;">1</span></button>
                        <button type="button" class="btn btn-link"><span style="color:#0D2340;">2</span></button>
                        <button type="button" class="btn btn-link"><span style="color:#0D2340;">3</span></button>
                        <button type="button" class="btn btn-link"><span style="color:#0D2340;">4</span></button>
                        <button type="button" class="btn btn-link"><span style="color:#0D2340;">5</span></button>
                        <button type="button" class="btn btn-link"><span style="color:#0D2340;"><i class="la la-angle-double-right"></i></span></button>
                    </div>
                </div>
            </div>
            <!--未審核活動 end-->
            <!--已審核活動 start-->
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">已審核活動</h4>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li>
                                <a data-action="collapse"><i class="ft-minus"></i></a>
                            </li>
                            <li>
                                <a data-action="reload"><i class="ft-rotate-cw"></i></a>
                            </li>
                            <li>
                                <a data-action="expand"><i class="ft-maximize"></i></a>
                            </li>
                            <li>
                                <a data-action="close"><i class="ft-x"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead class="thead">
                                <tr>
                                    <th scope="col">活動編號</th>
                                    <th scope="col">活動名稱</th>
                                    <th scope="col">主辦人</th>
                                    <th scope="col">地點</th>
                                    <th scope="col">活動日期</th>
                                    <th scope="col">狀態</th>
                                    @*<th scope="col">審核日期</th>*@
                                    @*<th scope="col">編輯</th>*@
                                    <th scope="col">詳細資料</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.ID)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ActName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ActUser)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ActSite)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ActTime)</td>
                                        <td style="color:green;">已通過</td>

                                        <td>
                                            <a href="@Url.Action("YesDetails", "Home",new {id = item.ID })"><i class='la la-file-text'></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="btn-group" role="group" aria-label="btn col-1" style="bottom:10px;">
                        <button type="button" class="btn btn-link"><span style="color:#0D2340;"><i class="la la-angle-double-left"></i></span></button>
                        <button type="button" class="btn btn-link"><span style="color:#0D2340;">1</span></button>
                        <button type="button" class="btn btn-link"><span style="color:#0D2340;">2</span></button>
                        <button type="button" class="btn btn-link"><span style="color:#0D2340;">3</span></button>
                        <button type="button" class="btn btn-link"><span style="color:#0D2340;">4</span></button>
                        <button type="button" class="btn btn-link"><span style="color:#0D2340;">5</span></button>
                        <button type="button" class="btn btn-link"><span style="color:#0D2340;"><i class="la la-angle-double-right"></i></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 已審核活動 end -->
</div>